@tailwind base;

@tailwind components;

@tailwind utilities;


.portfolio img {
    transition: 1s ease;
}

.portfolio img:hover {
    transform: scale(1.2);
    
}

.pricing-card {
    transition: 0.4s ease;
}
.pricing-card:hover {
    @apply -mt-5;
}
