@tailwind base;

@tailwind components;

@tailwind utilities;


.portfolio img {
    transition: 1s ease;
}

.portfolio img:hover {
    transform: scale(1.2);
    
}

.pricing-card {
    transition: 0.4s ease;
}
.pricing-card:hover {
    @apply -mt-10;
}

.heading-border:after {
    content: '';
    width: 10%;
    @apply border-b-2 border-teal-600 block mx-auto;
}

.heading-border-inverse:after {
    content: '';
    width: 10%;
    @apply border-b-2 border-white block mx-auto;
}